<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5.1" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="GitHubOAuthToken" value="[YOUR TOKEN HERE]"/>
    <add key="twitterConsumerKey" value="NPEuEdaZbTsFU2zMUUlA"/>
    <add key="twitterConsumerSecret" value="uwcSkwvHbGAOq5YoiVkPMGc2ZELJyqhyNj1gUi2Zc"/>
    <add key="twitterAccessToken" value="22898439-c8DKY3UaakYT7GRSAStFzYOq3cBYNeES5Cv8QpYQP"/>
    <add key="twitterAccessTokenSecret" value="GfTK6AZ5YUOqMKDOHc0tt08r24r3jI0xB6SiiU2PpfJgc"/>
  </appSettings>
</configuration>