<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add  xdt:Transform="Replace" key="GitHubOAuthToken" value="268846e56751293fe10ef679485036da0b077608"/>-->
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="GitHubOAuthToken" value="268846e56751293fe10ef679485036da0b077608"/>
  </appSettings>
</configuration>