<!doctype html>
<head>
    <title>OSS It Popular - real OSS numbers</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
</head>
<body data-ng-app="OssItPopular" data-ng-controller="GitHubController">

    <div class="container">

        <div class="jumbotron">
            <h1>Oss it popular?</h1>
            <p>A single page that helps you to answer the question if a OSS project is popular, used, known</p>
            <form class="form-inline">
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">OSS name:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="ossSearchQuery" placeholder="ex. NancyFx" data-ng-model="searchString">
                    </div>
                    <button type="button" class="btn btn-primary" data-ng-click="searchRepos()">Search</button>
                    <ul>
                        <li data-ng-repeat="repo in repositories">
                            <a href="{{repo.Url}}">{{repo.FullName}}</a>
                            <button type="button" class="btn btn-success" data-ng-click="getAllData(repo)">Is it popular?</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="body-content">

            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">GitHub Stats</h3>
                        </div>
                        <strong>{{gitHubDetails.FullName}}</strong>
                        <ul>
                            <li>Score: {{gitHubDetails.Score}}</li>
                            <li>Forks: {{gitHubDetails.NumberOfForks}}</li>
                            <li>Wiki: {{gitHubDetails.HasWiki}}</li>
                            <li>Number of watchers: {{gitHubDetails.NumberOfWatchers}}</li>
                            <li>Has issues: {{gitHubDetails.HasIssues}}</li>
                            <li>Number of issues: {{gitHubDetails.NumberOfOpenIssues}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nuget Stats</h3>
                        </div>
                        Panel content
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Twitter Stats</h3>
                        </div>
                        Panel content
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Web presence</h3>
                        </div>
                        Panel content
                    </div>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; <a href="http://www.marcusoft.net" target="_blank">www.marcusoft.net 2013</a></p>
            </footer>
        </div>
    </div>
    <!-- /container -->

    <!-- JQuery -->
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    <!-- application files -->
    <script type="text/javascript" src="/content/app.js"></script>
    <script type="text/javascript" src="/content/controllers.js"></script>
    <script type="text/javascript" src="/content/services.js"></script>
</body>
</html>
